body{
    background-color:gray;
}

h1{
    text-align: center;
    font-weight: 100;
    font-size: 400%;
}

div{
    color: honeydew;
    font-size: 200%;
    height: 50px;
    background-color: rgb(54, 51, 51);
    padding: 10px;
    margin-left: 100px;
}

p{
    margin-left: 400px;
    text-align: justify;
    margin-bottom: 200px;
    display: flex;
}

.imagen {
    margin-left: 100px;
    float: left;
    margin-top: 20px;
    height: 200px;
}